{% if categories %}
<div id="open-menu" class="me-lg-auto">
  <a href="javascript:;" class="openMenuMobile text-white"><i class="fa fa-bars"></i></a>
</div>
<ul id="nav-menu" class="nav col-12 col-lg-auto me-lg-auto mb-2 pb-3 pb-md-0 justify-content-center mb-md-0">
  <li class="nav-menu-title p-4 border-bottom text-center h5 text-dark"><span>Menu de Categorias</span> <a
      href="javascript:;" class="openMenuMobile"><i class="fa fa-times"></i></a></li>
  {% for category in categories %}
  {% if category.children %}
  <li class="dropdown">
    <a href="{{ category.href }}" class="nav-link px-2 text-white">
      {{ category.name }} <span class="openMenu"><i class="fas fa-angle-down"></i></span>
    </a>
    <div class="dropdown-menu">
      <div class="dropdown-inner">
        <div class="row">
          <div class="col-sm-12 col-md-4 py-3 text-center">
            <h4>Sub Departamentos</h4>
            {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
            <ul class="list-unstyled p-3">
              {% for child in children %}
              <li class="mb-2"><a href="{{ child.href }}">{{ child.name }}</a></li>
              {% endfor %}
            </ul>
            {% endfor %}
          </div><!-- col-sm -->
          <div class="col-sm-12 col-md-8">
            {{ category.description }}
          </div>
        </div><!-- row -->
      </div><!-- dropdown-inner -->
    </div>
    <!--dropdown-menu -->
  </li>
  {% else %}
  <li><a href="{{ category.href }}" class="nav-link px-2 text-white ">{{ category.name }}</a></li>
  {% endif %}
  {% endfor %}
</ul>
{% endif %}
<script>
  if ($(window).width() > 1060) {
    $(function () {
      $("#nav-menu").hover(
        function () {
          //Ao posicionar o cursor sobre a div
          setTimeout(function () {
            $('body').addClass('body-overlay');
          }, 200);
        },
        function () {
          //Ao remover o cursor da div
          setTimeout(function () {
            $('body').removeClass('body-overlay');
          }, 200);
        }
      );
    });
  }

  $(".openMenuMobile").click(function (e) {
    e.preventDefault();

    setTimeout(function () {
      $("body").toggleClass('body-overlay');
    }, 100);

    setTimeout(function () {
      $("#nav-menu").toggleClass('menuMobile');
    }, 100);

  });
</script>