{{ header }}
<div id="common-success" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-12 col-sm-12 col-md-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-12 col-sm-12 col-md-9' %}
    {% else %}
    {% set class = 'col-12 col-sm-12 col-md-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <div class="d-flex justify-content-center align-items-center text-center">
        <div class="col-8 col-lg-6">
          <div class="heading-page text-center">
            <h1 class="display-6">{{ heading_title }}</h1>
          </div>

          <div class="border rounded p-3 my-4">
            {{ text_message }}
          </div>

          <div class="buttons">
            <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
          </div>
        </div>
      </div>

      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
{{ footer }}