{% if not redirect %}
<div class="cart-new">
  {% for product in products %}
  <div class="item d-flex align-items-center">
    <div class="col-xs-1 col-md-1"><b>{{ product.quantity }}x</b></div>
    <div class="col-xs-8 col-md-9"><a href="{{ product.href }}">{{ product.name }}</a> {% for option in product.option %} <br />
      &nbsp;<small> - {{ option.name }}: {{ option.value }}</small> {% endfor %}</div>
      <div class="col-xs-3 col-md-2 text-right"><b>{{ product.total }}</b></div>                  
    </div><!-- repeat - item -->
    {% endfor %}

    {% for voucher in vouchers %}
    <div class="item d-flex align-items-center">
      <div class="col-xs-1"><b>1x</b></div>
      <div class="col-xs-7">{{ voucher.description }}</div>
      <div class="col-xs-3"><b>{{ voucher.amount }}</b></div>                  
    </div><!-- repeat - item -->
    {% endfor %}
  </div>

  <div class="cart-resume">
    <ul>
      {% for total in totals %}
      <li><strong>{{ total.title }}:</strong> <span class="text-right">{{ total.text }}</span></li>
      {% endfor %}
    </ul>
  </div>

  {{ payment }}
  {% else %} 
  <script type="text/javascript"><!--
  location = '{{ redirect }}';
  //--></script> 
  {% endif %} 