{{ header }}
<div id="information-contact" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-12 col-sm-12 col-md-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-12 col-sm-12 col-md-9' %}
    {% else %}
    {% set class = 'col-12 col-sm-12 col-md-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}

      <div class="row bg-white border rounded shadow m-5">
        <div class="col-12 col-sm-12 col-lg-7 p-4">
          <div class="heading-page border-bottom pb-1 mb-3">
            <h1 class="display-6">{{ heading_title }}</h1>
          </div>

          {% if image %}
          <div class="d-flex">
            <div class="border rounded p-3">
              <img src="{{ image }}" alt="{{ store }}" title="{{ store }}" class="img-fluid" />
            </div>
          </div>
          {% endif %}

          <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
            <div class="form-floating mb-3">
              <input type="text" name="name" value="{{ name }}" id="input-name" class="form-control"
                placeholder="{{ entry_name }}" />
              <label for="input-name">{{ entry_name }}</label>
            </div>
            {% if error_name %}
            <div class="text-danger">{{ error_name }}</div>
            {% endif %}

            <div class="form-floating mb-3">
              <input type="email" name="email" value="{{ email }}" id="input-email" class="form-control"
                placeholder="{{ entry_email }}" />
              <label for="input-email">{{ entry_email }}</label>
            </div>
            {% if error_email %}
            <div class="text-danger">{{ error_email }}</div>
            {% endif %}

            <div class="form-floating">
              <textarea class="form-control" name="enquiry" placeholder="{{entry_enquiry}}" id="input-enquiry"
                style="height: 100px">{{ enquiry }}</textarea>
              <label for="input-enquiry">{{entry_enquiry}}</label>
            </div>
            {% if error_enquiry %}
            <div class="text-danger">{{ error_enquiry }}</div>
            {% endif %}

            {{ captcha }}

            <div class="col-12 mt-3">
              <input class="btn btn-success-custom px-5" type="submit" value="{{ button_submit }}" />
            </div>
          </form>

        </div><!-- col -->
        <div class="col-12 col-sm-12 col-lg-5 p-4 bg-primary text-white contact-info">
          <div class="heading-page border-bottom pb-1 mb-3">
            <h3 class="h3">{{ heading_information }}</h3>
          </div>

          <ul class="m-5 p-0">
            <li class="d-flex mb-4">
              <div class="col-lg-2 text-center me-3">
                <i class="fas fa-map-marker-alt"></i>
              </div>
              <div>
                <address class="m-0">
                  {{ address }}
                </address>
                {% if geocode %}
                <a href="https://maps.google.com/maps?q={{ geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15"
                  target="_blank" class="btn btn-info"><i class="fa fa-map-marker"></i> {{ button_map }}</a>
                {% endif %}
              </div>

            </li>
            <li class="d-flex mb-4">
              <div class="col-lg-2 text-center me-3">
                <i class="fas fa-phone"></i>
              </div>
              <div>
                {{ telephone }}
              </div>
            </li>
            {% if fax %}
            <li class="d-flex mb-4">
              <div class="col-lg-2 text-center me-3">
                <i class="fas fa-phone"></i>
              </div>
              <div>
                {{ fax }}
              </div>
            </li>
            {% endif %}
            {% if open %}
            <li class="d-flex mb-4">
              <div class="col-lg-2 text-center me-3">
                <i class="fas fa-fire-alt"></i>
              </div>
              <div>
                {{ open }}
              </div>
            </li>
            {% endif %}
            {% if comment %}
            <li class="d-flex mb-4">
              <div class="col-lg-2 text-center me-3">
                <i class="fas fa-comments"></i>
              </div>
              <div>
                {{ comment }}
              </div>
            </li>
            {% endif %}
          </ul>

          <ul class="w-100 list-unstyled mt-5 ms-5 p-0">
            {% if bfloat_whatsapp %}
            <li class="ms-3 d-inline-block"><a class="text-white" href="https://wa.me/55{{ bfloat_whatsapp }}" target="_Blank" data-toggle="tooltip" data-placement="right" title="WhatsApp"><i class="fab fa-whatsapp"></i></a></li>
            {% endif %}
  
            {% if bfloat_facebook %}
            <li class="ms-3 d-inline-block"><a class="text-white" href="https://facebook.com/{{ bfloat_facebook }}" target="_Blank" data-toggle="tooltip" data-placement="right" title="Facebook"><i class="fab fa-facebook"></i></a></li>
            {% endif %}
  
            {% if bfloat_instagram %}
            <li class="ms-3 d-inline-block"><a class="text-white" href="https://instagram.com/{{ bfloat_instagram }}" target="_Blank" data-toggle="tooltip" data-placement="right" title="Instagram"><i class="fab fa-instagram"></i></a></li>
            {% endif %}
  
            {% if bfloat_mail %}
            <li class="ms-3 d-inline-block"><a class="text-white" href="mailto:{{ bfloat_mail }}" data-toggle="tooltip" data-placement="right" title="E-mail"><i class="fa fa-envelope"></i></a></li>
            {% endif %}
          </ul>



          {% if locations %}
          <h3>{{ text_store }}</h3>
          <div class="panel-group" id="accordion">
            {% for location in locations %}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"><a href="#collapse-location{{ location.location_id }}" class="accordion-toggle"
                    data-toggle="collapse" data-parent="#accordion">{{ location.name }} <i
                      class="fa fa-caret-down"></i></a>
                </h4>
              </div>
              <div class="panel-collapse collapse" id="collapse-location{{ location.location_id }}">
                <div class="panel-body">
                  <div class="row">
                    {% if location.image %}
                    <div class="col-sm-3"><img src="{{ location.image }}" alt="{{ location.name }}"
                        title="{{ location.name }}" class="img-fluid" /></div>
                    {% endif %}
                    <div class="col-sm-3"><strong>{{ location.name }}</strong><br />
                      <address>
                        {{ location.address }}
                      </address>
                      {% if location.geocode %}
                      <a href="https://maps.google.com/maps?q={{ location.geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15"
                        target="_blank" class="btn btn-info"><i class="fa fa-map-marker"></i> {{ button_map }}</a>
                      {% endif %}
                    </div>
                    <div class="col-sm-3"> <strong>{{ text_telephone }}</strong><br>
                      {{ location.telephone }}<br />
                      <br />
                      {% if location.fax %}
                      <strong>{{ text_fax }}</strong><br>
                      {{ location.fax }}
                      {% endif %}
                    </div>
                    <div class="col-sm-3">
                      {% if location.open %}
                      <strong>{{ text_open }}</strong><br />
                      {{ location.open }}<br />
                      <br />
                      {% endif %}
                      {% if location.comment %}
                      <strong>{{ text_comment }}</strong><br />
                      {{ location.comment }}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          {% endif %}
        </div><!-- col -->
      </div>
      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
{{ footer }}