{% if categories %}
<div id="open-menu" class="me-3 d-md-none">
  <a href="javascript:;" class="openMenuMobile text-white"><i class="fa fa-bars"></i></a>
</div>
<ul id="nav-menu" class="nav col-12 col-lg-auto me-lg-auto mb-2 pb-3 pb-md-0 justify-content-center mb-md-0">
  <li class="p-4 border-bottom text-center h5 d-md-none text-dark"><span>Menu de Categorias</span> <a href="javascript:;" class="openMenuMobile"><i class="fa fa-times"></i></a></li>
  {% for category in categories %}
    {% if category.children %}
    <li class="dropdown">
      <a href="{{ category.href }}" class="nav-link px-2 text-white">
        {{ category.name }} <span class="openMenu"><i class="fas fa-angle-down"></i></span>
      </a>
      <div class="dropdown-menu">
        <div class="dropdown-inner">
          {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
          <ul class="list-unstyled p-3">
            {% for child in children %}
            <li class="mb-2"><a href="{{ child.href }}">{{ child.name }}</a></li>
            {% endfor %}
          </ul>
          {% endfor %}
        </div>
      </div>
    </li>
    {% else %}
    <li><a href="{{ category.href }}" class="nav-link px-2 text-white ">{{ category.name }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
{% endif %}

<script>
  $(".openMenuMobile").click(function (e) {
    e.preventDefault();
    
    setTimeout(function () {
      $('body').toggleClass('body-overlay');
    }, 50);

    $("#nav-menu").fadeIn(300).toggleClass('menuMobile');   
  });
</script>